
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.alert{
    padding-top: 0.6rem!important;
    padding-bottom: 0.6rem!important;
}

.tablelist{
    margin-top:-79px;
}

.modal-header .close {
    margin: 0rem !important;
    margin-top: -1rem !important;
}