<img src="../assets/img/porche.jpg" alt="...">
<div class="main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2023 Totale</h5>
          <h4 class="card-title">Totale des Voitures</h4>
        </div>
        <div class="card-body">
            <span class="numberC num1">000</span>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Just Updated  
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2023 Moyenne</h5>
          <h4 class="card-title">Kilométrage Moyen</h4>
        </div>
        <div class="card-body">
            <span class="numberC num2">000</span>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">2023 Totale</h5>
          <h4 class="card-title">Totale Louée</h4>
        </div>
        <div class="card-body">
            <span class="numberC num3">000</span>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
